body {
  background-color: #3E8B84
}

h1, h3{
  text-align: center;
  font-family: 'Lobster', cursive;
}

h3 {
  padding: 10px 90px;
}

.inset {
  border: solid #C0B3AB 2px;
  width: 20em;
  height: 20em;
  padding: 5em 5em;
  margin: 0 auto;
  background-color: #E4DFD8
}

.item {
  padding: 2px 90px;
}

.price {
  padding: 2px 90px;
}

#list {
  margin-top: 0;
  padding: 5px 5px 5px 15px;
  text-align: center;
  list-style: none;
}

#list li {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin-right: 30px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.items {
  padding: 10px 70px;
  text-align: center;
  list-style: none;
}

.fa-shopping-cart {
  margin-left: 2.7em;;
}

.box {
  float: left;
  margin-top: -1px;
  margin-right: 30px;
  height: 17px;
  width: 17px;
  background: url('images/box.png');
}

.Checked {
  margin-top: 3px;
  margin-right: 30px;
  height: 17px;
  width: 17px;
}

.delete {
  float: right;
  margin-top: -1px;
  display: inline;
}

span {
  margin: 0;
  font-family: 'Lobster', cursive;
}
